[
    {
        "name": "Firefox",
        "icon": { "css": "fab fa-firefox", "localPath": null },
        "scriptLocation": "interScript",
        "startScript": "proxy-firefox-on.sh",
        "stopScript": "proxy-firefox-off.sh"
    },
    {
        "name": "Google Chrome",
        "icon": { "css": "fab fa-chrome", "localPath": null },
        "scriptLocation": "interScript",
        "startScript": "proxy-chrome-on.sh",
        "stopScript": "proxy-chrome-off.sh"
    },
    {
        "name": "Opera",
        "icon": { "css": "fab fa-opera", "localPath": null },
        "scriptLocation": "interScript",
        "startScript": "proxy-opera-on.sh",
        "stopScript": "proxy-opera-off.sh"
    },
    {
        "name": "Brave",
        "icon": { "css": null, "localPath": "./../../assets/browserIcons/Brave.svg" },
        "scriptLocation": "interScript",
        "startScript": "proxy-brave-on.sh",
        "stopScript": "proxy-brave-off.sh"
    },
    {
        "name": "Microsoft Edge",
        "icon": { "css": "fab fa-edge", "localPath": null },
        "scriptLocation": "interScript",
        "startScript": "proxy-edge-on.sh",
        "stopScript": "proxy-edge-off.sh"
    }
]
